<section class="dashboard">
  <div class="spacing"></div>
  <div class="header-dashboard">
    <h1>Welcome {{ AuthService.userName }}!</h1>
  </div>
  <div class="products">
    <div class="indicator">
      <div class="id">
        <p>Id</p>
      </div>
      <div class="name">
        <p>Name</p>
      </div>
      <div class="desc">
        <p>Description</p>
      </div>
      <div class="price">
        <p>Price</p>
      </div>
      <div class="actions">
        <p>Actions</p>
      </div>
    </div>
    <div class="pro">
      <div class="id">
        <p>1.</p>
      </div>
      <div class="name">
        <p>Pencil</p>
      </div>
      <div class="desc">
        <p>Unbreakable pencil.</p>
      </div>
      <div class="price">
        <p>15</p>
      </div>
      <div class="actions">
        <button class="edit">✎</button>
        <button class="delete">🗑️</button>
      </div>
    </div>
  </div>
</section>
