<section class="dashboard">
  <div class="spacing"></div>
  <div class="header-dashboard">
    <!-- <h1>Welcome {{ AuthService.userName }}!</h1> -->
    <h1>Welcome {{ AuthService.userName }}</h1>
    <button (click)="goToAdd()">Add Item</button>
  </div>
  <div class="nomessage" *ngIf="ItemService.Items.length == 0">
    <div class="text">
      <h1>No Product to display</h1>
    </div>
    <div class="btns">
      <button (click)="goToAdd()">Add Product</button>
    </div>
  </div>
  <div class="products" *ngIf="ItemService.Items.length !== 0">
    <div class="indicator">
      <div class="id">
        <p>Id</p>
      </div>
      <div class="name">
        <p>Name</p>
      </div>
      <div class="desc">
        <p>Description</p>
      </div>
      <div class="price">
        <p>Price</p>
      </div>
      <div class="actions">
        <p>Actions</p>
      </div>
    </div>
    <div class="pro" *ngFor="let item of ItemService.Items">
      <div class="edit-item" *ngIf="ItemService.itemEditable">
        <div class="edit-header">
          <h1>Edit Item</h1>
        </div>
        <div class="id">
          <input type="number" #id placeholder="ID" />
        </div>
        <div class="name">
          <input type="text" #name placeholder="Enter New Name" />
        </div>
        <div class="desc">
          <input type="text" #desc placeholder="Enter New Description" />
        </div>
        <div class="price">
          <input type="number" #price placeholder="Enter New Price" />
        </div>
        <div class="btn">
          <button
            class="save"
            (click)="ItemService.editItem(item, id, name, desc, price)"
          >
            Save
          </button>
          <button class="close" (click)="ItemService.changeEditState()">
            Close
          </button>
        </div>
      </div>
      <div class="id">
        <p>{{ item.id }}.</p>
      </div>
      <div class="name">
        <p>{{ item.name }}</p>
      </div>
      <div class="desc">
        <p>{{ item.desc }}</p>
      </div>
      <div class="price">
        <p>Rs {{ item.price }}</p>
      </div>
      <div class="actions">
        <button class="edit" (click)="ItemService.changeEditState()">✎</button>
        <button class="delete" (click)="ItemService.deleteItem(item)">
          🗑️
        </button>
      </div>
    </div>
  </div>
</section>
